*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Rubik Mono One', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

nav{
    position: relative;
    position: fixed;
}

.nav-bar{
    width: 100%;
    height: 100px;
    
    
    
    
}

ul{
    position: absolute;
    right: 0;
    padding: 30px;
    
}

.nav-circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    margin-left: 5px;
 }  


a{
    text-decoration: none;
    color: black;
}  

/* fine nav */

#red{
    background-color: red;
    width: 100%;
    height: 100vh;
}
#green{
    background-color: green;
    width: 100%;
    height: 100vh;
}
#yellow{
    background-color: yellow;
    width: 100%;
    height: 100vh;
}
 

section{
    display: inline-block;
}

img {
    position: absolute;
    transform: translate(110%,50%);
}

.text-up{
    color: yellow;
    font-size: 50px;
    position:absolute;
    transform: translate(125%,1400%);
}

.text-down{
    color: yellow;
    position:absolute;
    font-size: 50px;
    transform: translate(320%,1500%);

}
.text-up2{
    color: green;
    font-size: 50px;
    position:absolute;
    transform: translate(125%,1400%);
}

.text-down2{
    color: green;
    position:absolute;
    font-size: 50px;
    transform: translate(320%,1500%);

}

    
    
    
    

